.reloadBar {
    margin-bottom: 33px;
}

.reloadBar > .filler {
    background: #eceff1;
}

.player {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerInfo {
    background-color: #ffffff;
    padding: 10px;
}