.wrapper {
    padding: 5px;
    background-color: #756b44;
    width: 77px;
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    width: 36px;
    height: 45px;
    transform: rotate(35deg);
}

.value {
    align-self: flex-end;
}