.button {
    display: flex;
    width: 220px;
    margin: 80px 65px 0;
    align-items: center;
    justify-content: center;
    height: 40px;
    float: right;
    cursor: pointer;
}

.label {
    font-weight: bold;
}

.arrow {
    height: 40px;
    font-size: 18px;
}