.button {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}

.label {
    font-weight: bold;
}

.arrow {
    height: 40px;
    font-size: 18px;
}