.nextButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
    align-self: flex-end;
    user-select: none;
}

.buttonLabel {
    color: #000a12;
    font-weight: bold;
    box-sizing: border-box;
    height: 25px;
}

.buttonHovered {
    border-bottom: solid;
}

.arrow {
    height: 40px;
    font-size: 18px;
}