.castle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.castle-img {
    width: 20%;
    transition: opacity .2s ease-in;
    cursor: pointer;
}

.castle-img:not(.captured):active {
    animation: scale .4s ease forwards;
}
@keyframes scale {
    to {
        transform: scale(0.93);
    }
}

.captured {
    opacity: 0.2;
    cursor: default;
}