.reload-bar {
    width: 150px;
    margin-bottom: 31px;
}

.reload-bar > .filler {
    background: #eceff1;
}

.player {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}